{{template "layouts/menu" .}}
<main class="dashboard w-100 m-auto p-3">
  <div class="row">
    <div class="col-sm-4">
      <h4>5 Latest  Title Posts</h4>
      <p>Hello from column {{.message}}!</p>
    </div>
    <div class="col-sm-4">
      <h4>User Registered</h4>
      <p>Hello from column 2!</p>
    </div>
    <div class="col-sm-4">
      <h4>Counter</h4>
      <p>Hello from column 3!</p>
    </div>
  </div>
    <div class="row mx-1">
      <div class="col-sm-12">
        <h4 class="text-center"> Latest Products</h4>
      </div>
    </div>

</main>