<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Error {{ .ErrorCode }}</h5>

        <p>Sorry, there was an error</p>
        <p>{{ .Error }}</p>

        <!-- Add a margin to the links to give them some space -->
        <p><a href="/" class="btn btn-secondary">Home</a>&nbsp;|&nbsp;<a class="btn btn-danger" href="#" onclick="goToReferer()">Go to referrer (GET)</a></p>
            <p style="margin-top: 10px;"><a href="/" class="btn btn-secondary">Home</a>&nbsp;|&nbsp;<A class="btn btn-danger" href="#" Onclick="goToReferer()">Go to referrer (GET)</a></p>
</div>
</div>
</div>

<!-- Add a function to the script tag that handles the click event -->
<script>
    function goToReferer() {
        window.location.href = document.referrer;
    }
</script>