{{template "layouts/menu" .}}
<main class="list my-2">
  <h4>User List</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Fullname</th>
        <th scope="col">E-mail</th>
        <th scope="col">Birthday</th>
         <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{range .Users}}
      <tr>
        <td style="width: 20%">{{.Fullname}}</td>
        <td style="width: 25%">{{.Email}}</td>
        <td>{{.Birthday}} </td>
        <td class="list-group-item d-flex justify-content-between align-items-center"> 
          <button data-href="/users/edit?id={{.ID}}" type="button" class="btn btn-primary w-100">Edit</button>
          <button type="button" class="btn btn-danger w-100 " id="btn-delete" data-id="{{.ID}}">Delete</button>
         
        </td>
      </tr>
      {{end}}
      </tbody>
  </table>
  {{template "layouts/modal" .}}
  </main>
