.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.bg-menu{
    background-color: #d88a25;
}
   
/*box css*/   
.box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: inline-block;
    margin: 10px;
}
