{{template "layouts/menu" .}}

<main class="list my-2 mx-4">
 

  
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Product List</h5>
    </div>
    <div class="card-body">


  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Weight</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{range .Products}}
      <tr>
        <td>{{.Name}}</td>
        <td>{{.Price}}</td>
        <td>{{.Weight}}</td>
        <td>
          <a href="/product/update/{{.ID}}" class="btn btn-warning">Edit</a>
          <a href="/product/delete/{{.ID}}" class="btn btn-danger">Delete</a>
        </td> 
      </tr>
      {{end}}
    </tbody>
  </table>
    <a href="/product/create" class="btn btn-primary">New</a>
    </div>
  </div>
</main> 
<script>
  



  $(document).ready(function () {
    var acsrf = "{{.csrf }}"; 

    $('.btn-delete').click(function () {
      var xUrl = $(this).data('href');
    });
  
  });
</script>