{{template "layouts/menu" .}}

<main class="list my-2">
  <h4>Product List</h4>
  <a href="/product/create" class="btn btn-primary">New</a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Weight</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{range .Products}}
      <tr>
        <td>{{.Name}}</td>
        <td>{{.Price}}</td>
        <td>{{.Weight}}</td>
        <td>
          <a href="/product/edit/{{.ID}}" class="btn btn-warning">Edit</a>
          <a href="/product/delete/{{.ID}}" class="btn btn-danger">Delete</a>
        </td> 
      </tr>
      {{end}}
    </tbody>
  </table>
</main> 